# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environments
.venv/
venv/
ENV/

# IDEs
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Data and outputs
data/
outputs/
artifacts/
models/
logs/
wandb/

# Jupyter
.ipynb_checkpoints/
/web/node_modules/
